.pluginCard {
  background-color: var(--nord1);
  border-radius: 12px;
  padding: 15px;
  max-width: 300px;
  word-wrap: break-word;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
}

.pluginTitle {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--nord6);
}

.pluginDesc {
  color: var(--nord5);
}

.end {
  display: flex;
  justify-content: end;
}

.copy {
  width: 35px;
  height: 35px;
  background-color: var(--nord3);
  color: var(--nord13);
  outline: none;
  border: none;
  border-radius: 4px;
}
